@import "tailwindcss";

@theme {
  --color-blue-900: hsl(209, 23%, 22%);
  --color-blue-950: hsl(207, 26%, 17%);

  --color-grey-950: hsl(200, 15%, 8%);
  --color-grey-400: hsl(0, 0%, 50%);
  --color-grey-50: hsl(0, 0%, 99%);

  --font-nunito: var(--font-nunito-sans), sans-serif;
}

:root {
  --background: var(--color-grey-50);
  --foreground: var(--color-grey-950);
}

.dark {
  --background: var(--color-blue-950);
  --foreground: var(--color-white);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}
